<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{ TITLE }}</title>
<style>
    {% include "style.css" %}

    body {
      font: {{ FONTSIZE }} sans-serif;
    }
</style>
</head>
<body>

<script>
{% include "d3.v3.js" %}
{% include "script.js" %}

    // Load data and let's do it.
    var data = {{ json_data }}

    window.addEventListener('DOMContentLoaded', function () {
      timeseries(data, {
          COLOR: [{{ COLOR }}],
          TITLE: "{{ TITLE }}",
          DT_FORMAT: "{{ DT_FORMAT }}"
      });
    })

</script>

</body>
</html>