		body {
		  overflow: hidden;
		  margin: 0;
		  font-size: 14px;
		  font-family: 'Raleway', sans-serif;
      text-align: center;
		  /*font-family: Oswald;*/
		  /*font-family: "Helvetica Neue", Helvetica;*/
		}

		#clickerWrapper {
		  top: 0;
		  z-index: 1;
		  display: block;
		  position: relative;
		  width: 640px;
		  /*padding-top: 5px;*/
		  visibility: auto;
      text-align: center;
      margin: 0 auto;
		}

		#clicker {
		  z-index: 1;
		  display: block;
		  font-family: Oswald;
		  font-size: 36px;
		  font-weight: 300;
		  color: #363636;
		  position: relative;
		  /*width: 80px;*/
		  text-align: center;
		  width: 30%;
		  margin: 0 auto;
		  border: 1px solid;
		  border-color: #363636;
		  cursor: pointer;
		}

		#progress {
		  z-index: 1;
		  display: block;
		  position: relative;
		  width: 40%;
		  height: 6px;
		  margin: 10px auto;
		  visibility: hidden;
		}
		
		#buttonWrapper{
		  z-index: 1;
		  display: block;
		  font-family: Oswald;
		  font-size: 14px;
		  font-weight: 300;
		  color: #6B6B6B;
		  position: relative;
		  width: 640px;
		  text-align: center;	
		  overflow: hidden;	
      text-align: center;
      margin: 0 auto;
      margin-top: 30px;
		}
		
		#buttonWrapperInner{
			position: relative;
			width: 300px;
			height: 30px;
			margin: 0 auto;
		}
		
		
		#skip{
		  width: 90px;
		  cursor: pointer;	
		  float: left;	
		  text-align: left;
		}
		
		#reset{
		  width: 110px;
		  cursor: pointer;	
		  float: left;			  
		}

		#link{
		  width: 100px;
		  cursor: pointer;	
		  float: left;	
		  text-align: right;
		}
		
		line {
		  stroke: #000;
		  stroke-width: 1.px;
		}

		text {
		  font-size: 10px;
		}

		.titles{
		  font-size: 14px;
		}

		.explanation{
		  font-size: 20px;
		  font-weight: 300;
		  text-align: center;
		}
		
		path.chord {
		  fill-opacity: .80;
		}
		
		a {
			text-decoration: none;
			color: #6B6B6B;
		}