<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ TITLE }}</title>
</head>
<body>


<script>
	{% include "chord.js" %}
    
    const jsonData = {{ json_data }};

    const data = jsonData.links.map(({source, target, value}) => ({
        source: jsonData.nodes[source].name,
        target: jsonData.nodes[target].name,
        value
    }))

    document.addEventListener('DOMContentLoaded', function () {
        window.Chord({
            data,
            width: {{ WIDTH }},
            height: {{ HEIGHT }},
        });
    });

</script>
<div id="chart"></div>
</body>
</html>