<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ TITLE }}</title>
</head>
<body>
    //<script src="bundle/sankey.js"></script>
    <script>
	{% include "sankey.js" %}

	const data = {{ json_data }}

        const links = data.links.map(({source, target, value}) => ({
            source: data.nodes[source].name,
            target: data.nodes[target].name,
            value
        }))

        chart = SankeyChart({
            links
        }, {
            nodeGroup: d => d.id.split(/\W/)[0], // take first word for color
            align: "{{ node_align }}",
            linkColor: "{{ link_color }}", // source, target, source-target, or static color
            linkStrokeOpacity: {{ link_stroke_opacity }},
            format: (value) => `${value.toFixed(1)} TWh`,
            width: {{ WIDTH }},
            height: {{ HEIGHT }},
            marginTop: {{ marginTop }},
            marginRight: {{ marginRight }},
            marginBottom: {{ marginBottom }},
            marginLeft: {{ marginLeft }},
            nodeWidth: {{ node_width }},
            nodePadding: {{ node_padding }},
            nodeStroke: "{{ node_stroke_color }}",
        })

        document.body.append(chart)
    </script>

</body>
</html>