body {
  background-color: #000;
}

#carbonads * {
  margin: initial;
  padding: initial;
}

#carbonads {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
}

#carbonads {
  display: flex;
  max-width: 330px;
  background-color: hsl(0, 0%, 10%);
  box-shadow: 0 0 1px hsla(0, 0%, 0%, 0.5);
}

#carbonads a {
  color: #ddd;
  text-decoration: none;
}

#carbonads a:hover {
  color: #ddd;
}

#carbonads span {
  position: relative;
  display: block;
  overflow: hidden;
}

#carbonads .carbon-wrap {
  display: flex;
}

#carbonads .carbon-img {
  display: block;
  margin: 0;
  line-height: 1;
}

#carbonads .carbon-img img {
  display: block;
}

#carbonads .carbon-text {
  padding: 10px;
  text-align: left;
  font-size: 13px;
  margin-bottom: 16px;
  line-height: 1.5;
}

#carbonads .carbon-poweredby {
  display: block;
  padding: 6px 8px;
  background: #1e2021;
  color: #aaa;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-size: 8px;
  line-height: 1;
  position: absolute;
  bottom: 0;
  right: 0;
  border-top-left-radius: 6px;
}
