<!--
Library     : d3blocks
Author      : E.Taskesen
Mail        : erdogant@gmail.com
Github      : https://github.com/d3blocks/d3blocks
Licensed    : GPL3
Forked      : Mike Bostock; http://bl.ocks.org/mbostock/4063582
-->


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script>
    	{% include "d3.min.js" %}
	</script>

  <style>

	/* Add your custom styles here */

	.node { cursor: pointer; }
	.node:hover { stroke: ; stroke-width: px; }
	.node--leaf { fill: {{ borderfill }}; }
	.label {
			font: px ;
			text-anchor: middle;
			text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
			}
	.label,
	.node--root,
	.node--leaf { pointer-events: none; }
	.meter-background { fill: #DFEAFD; }
	.meter-foreground { fill: #2E7AF9; }


  </style>



</head>


<body>
  <div id="chart-container"></div>
      <svg id="chart-svg"></svg>


  <script>


var margin = {{ zoom }},
		padding = {{ borderpadding }},
		diameter = {{ DIAMETER }},
		
		root = flareData();

var color = d3.scale.linear()
		.domain([0, depthCount(root)])
		.range(["hsl(152,80%,80%)", "hsl(228,30%,40%)"])
		.interpolate(d3.interpolateHcl);

var pack = d3.layout.pack()
		.padding(padding)
		.size([diameter, diameter])
		.value(function(d) { return 100; }), //return d.size;
		arc = d3.svg.arc().innerRadius(0),
		pie = d3.layout.pie;

var svg = d3.select("body").append("svg")
		.attr("width", diameter)
		.attr("height", diameter)
		.append("g")
		.attr("transform", "translate(" + diameter / 2 + "," + diameter / 2 + ")");

var focus = root,
		nodes = pack.nodes(root),
		//nodes = svg.selectAll("g.node")
		//.data(pack.nodes(root)),
		view;

var circle = svg.selectAll("circle")
		.data(nodes)
		.enter().append("circle")
		.attr("class", function(d) { return d.parent ? d.children ? "node" : "node node--leaf" : "node node--root"; })
		.style("fill", function(d) { return d.children ? color(d.depth) : null; })
		.on("click", function(d) { if (focus !== d) zoom(d), d3.event.stopPropagation(); });

var text = svg.selectAll("text")
		.data(nodes)
		.enter().append("text")
		.attr("class", "label")
		.style("fill-opacity", function(d) { return d.parent === root ? 1 : 0; })
		.style("display", function(d) { return d.parent === root ? null : "none"; })
		.text(function(d) { return d.name; });

var node = svg.selectAll("circle,text");

d3.select("body")
		.on("click", function() { zoom(root); });

zoomTo([root.x, root.y, root.r * 2 + margin]);

function zoom(d) {
		var focus0 = focus;
		focus = d;

		var transition = d3.transition()
				.duration(d3.event.altKey ? 7500 : )
				.tween("zoom", function(d) {
						var i = d3.interpolateZoom(view, [focus.x, focus.y, focus.r * 2 + margin]);
						return function(t) {
								zoomTo(i(t));
						};
				});

		transition.selectAll("text")
				.filter(function(d) { return d.parent === focus || this.style.display === "inline"; })
				.style("fill-opacity", function(d) { return d.parent === focus ? 1 : 0; })
				.each("start", function(d) { if (d.parent === focus) this.style.display = "inline"; })
				.each("end", function(d) { if (d.parent !== focus) this.style.display = "none"; });
}

function zoomTo(v) {
		var k = diameter / v[2];
		view = v;
		node.attr("transform", function(d) { return "translate(" + (d.x - v[0]) * k + "," + (d.y - v[1]) * k + ")"; });
		circle.attr("r", function(d) { return d.r * k; });
}


/**
 * Counts JSON graph depth
 * @param {object} branch
 * @return {Number} object graph depth
 */
function depthCount(branch) {
		if (!branch.children) { return 1; }
		return 1 + d3.max(branch.children.map(depthCount));
}

d3.select(self.frameElement).style("height", diameter + "px");


/*********************************************************************/



  </script>



</body>
</html>
