<!--
Library     : d3blocks
Github      : https://github.com/d3blocks/d3blocks
Licensed    : GPL3
Forked      : Mike Bostock; https://d3-graph-gallery.com/graph/bubblemap_template.html
-->
<!DOCTYPE html>
<meta charset="utf-8">
<head>
    <!-- Load d3.js -->
    <!-- <script src="https://d3js.org/d3.v6.js"></script> -->
    <script> {% include "d3.v6.min.js" %} </script>
    
	{{ SUPPORT }}

</head>


<!-- Create an element where the map will take place -->
<!-- <svg id="my_dataviz" width="1630" height="2350"></svg> -->
<svg id="my_dataviz"></svg>

<script>


// The svg
const svg = d3.select("svg"),
    //width = +svg.attr("width"),
    //height = +svg.attr("height");
    width = window.innerWidth * 0.9,
    height = window.innerHeight  * 0.9;


//Promise.all([
//d3.json("https://raw.githubusercontent.com/holtzy/D3-graph-gallery/master/DATA/world.geojson"),
//d3.csv("https://raw.githubusercontent.com/holtzy/D3-graph-gallery/master/DATA/data_gpsLocSurfer.csv")
//]).then(function (initialize) {

//  Promise.all([
//  d3.json("https://raw.githubusercontent.com/holtzy/D3-graph-gallery/master/DATA/world.geojson"),
//]).then(function (initialize) {
    // Filter data
    //initialize[0].features = initialize[0].features.filter( d => d.properties.name=="France")

//    let dataGeo = initialize[0]
    const dataGeo = {% include "world.geojson" %}

/*    const data = [
      {'lat': '-82.9', 'lon': '135', 'label': 'Antarctica', 'size': '4'},
      {'lat': '-54.8', 'lon': '-68.3', 'label': 'South America', 'size': '4'},
      {'lat': '-53.8', 'lon': '-67.7', 'label': 'South America', 'size': '1'},
      {'lat': '-53.2', 'lon': '-70.9', 'label': 'NA', 'size': '2'},
      {'lat': '-52.4', 'lon': '-71', 'label': 'South America', 'size': '2'},
      {'lat': '-51.7', 'lon': '-72.5', 'label': 'South America', 'size': '2'},
      {'lat': '-51.6', 'lon': '-69.2', 'label': 'South America', 'size': '4'},
      {'lat': '-51.6', 'lon': '-69.2', 'label': 'NA', 'size': '1'},
      {'lat': '-49.7', 'lon': '178.8', 'label': 'NA', 'size': '1'},
      {'lat': '-47.8', 'lon': '-65.9', 'label': 'NA', 'size': '2'},
      {'lat': '-46.5', 'lon': '-71.6', 'label': 'South America', 'size': '2'},
      {'lat': '-41.6', 'lon': '147.1', 'label': 'Australia', 'size': '10'},
      {'lat': '52.1326', 'lon': '5.2913', 'label': 'Europe', 'size': '12'},
    ]
*/
    const data = {{ json_data }}
    const data_country = {{ json_countries }}


  //	console.log(data)

// Calculate the bounding box of France
let bounds = d3.geoBounds(dataGeo);
//console.log(bounds)
// Calculate the width and height based on the bounding box
//let width = bounds[1][0] - bounds[0][0];
//let height = bounds[1][1] - bounds[0][1];

// Calculate the center of France
let center = [
  (bounds[0][0] + bounds[1][0]) / 2,
  (bounds[0][1] + bounds[1][1]) / 2
];

    // Set the width and height of the SVG
svg.attr("width", width)
   .attr("height", height);

// Map and projection
const projection = d3.geoMercator()
    .center([0,20])                // GPS of location to zoom on
//    .center(center)                // GPS of location to zoom on
    .scale(200)                       // This is like the zoom
    .translate([ width/2, height/2 ])

  // Create a color scale
  const color = d3.scaleOrdinal()
    .domain(data.map(d => d.label))
    .range(d3.schemePaired);

  // Add a scale for bubble size
  const valueExtent = d3.extent(data, d => +d.size)
  const size = d3.scaleSqrt()
    .domain(valueExtent)  // What's in the data
    .range([ 1, 50])  // Size in pixel

  // Draw the map
  svg.append("g")
      .selectAll("path")
      .data(dataGeo.features)
      .join("path")
        .attr("fill", "#b8b8b8")
        .attr("d", d3.geoPath()
            .projection(projection)
        )
      .style("stroke", "none")
      .style("opacity", .3)


// Filter the GeoJSON data to get only France
//let country_names = dataGeo.features.map(d => d.properties.name);
//let country_names = ["France", "Netherlands"]
const country_names = data_country.map(item => item.label);
let countries = dataGeo.features.filter(d => country_names.includes(d.properties.name));

//let countryColors = {}; // Create an empty object to hold country-color pairs
//const colors = d3.scaleOrdinal(d3.schemeCategory10);
// Assign a color to each country
//country_names.forEach((country, i) => { countryColors[country] = colors(i); });
//console.log(countryColors)

// Create a color map from the data_country array
let colorMap = {};
let lineWidthMap = {};
let opacityMap = {};

data_country.forEach(item => {
  colorMap[item.label] = item.color;
  lineWidthMap[item.label] = item.linewidth;
  opacityMap[item.label] = item.opacity;
});



// Create a geoPath generator
let pathGenerator = d3.geoPath().projection(projection);
// Create a dashed line for each country
countries.forEach(country => {
//  console.log(countryColors[country])
  svg.append("path")
    .attr("d", pathGenerator(country))
    .attr("fill", colorMap[country.properties.name]) // Use the color from colorMap
    .attr("stroke", "black")
    .attr("stroke-width", lineWidthMap[country.properties.name]) // Use the linewidth from lineWidthMap
    .attr("opacity", opacityMap[country.properties.name]) // Use the opacity from opacityMap
    .attr("stroke-dasharray", "5,5");  // This creates a dashed line
});



    // Define the zoom behavior
    const zoom = d3.zoom()
    .scaleExtent([1, 100]) // This control how much you can unzoom (x1) and zoom (x100)
    .on("zoom", function(event) {
        svg.selectAll('path') // To prevent stroke width from scaling
           .attr('transform', event.transform);
        svg.selectAll('circle')
           .attr('transform', event.transform);
    });

  // Apply the zoom behavior to the svg
  svg.call(zoom);


    // create a tooltip
    const Tooltip = d3.select("body")
      .append("div")
      .attr("class", "tooltip")
      .style("opacity", 0.5)
      .style("background-color", "white")
      .style("border", "solid")
      .style("border-width", "2px")
      .style("border-radius", "5px")
      .style("padding", "5px")
      .style("position", "absolute");

    // Three function that change the tooltip when user hover / move / leave a cell
    const mouseover = function(event, d) { Tooltip.style("opacity", 1) }
    var mousemove = function(event, d) {
	//console.log(d)
      Tooltip
        .html(d.label + "<br>" + "long: " + d.lon + "<br>" + "lat: " + d.lat)
        .style("left", (event.x) + "px")
        .style("top", (event.y) + "px")
        //.style("left", (d3.pointer(event)[0]+10) + "px")
        //.style("top", (d3.pointer(event)[1]) + "px")
    }
    var mouseleave = function(event, d) { Tooltip.style("opacity", 0) }

  // Add circles:
  svg
    .selectAll("myCircles")
    .data(data.sort((a,b) => +b.size - +a.size))
    .join("circle")
      .attr("cx", d => projection([+d.lon, +d.lat])[0])
      .attr("cy", d => projection([+d.lon, +d.lat])[1])
      .attr("r", d => size(+d.size))
      .style("fill", d => color(d.label))
      .attr("stroke", d=> {if (d.size>2000) {return "black"} else {return "none"}  })
      .attr("stroke-width", 1)
      .attr("fill-opacity", .4)
      .on("mouseover", mouseover)
      .on("mousemove", mousemove)
      .on("mouseleave", mouseleave)



  // Add title and explanation
//  svg
//    .append("text")
//      .attr("text-anchor", "end")
//      .style("fill", "black")
//      .attr("x", width - 10)
//      .attr("y", height - 30)
//      .attr("width", 90)
//      .html("WHERE SURFERS LIVE")
//      .style("font-size", 14)


  // --------------- //
  // ADD LEGEND //
  // --------------- //

// Add legend: circles
// Get the min, mean, and max values of 'size' in the data
const nExtent = d3.extent(data, d => +d.size);
const nMean = d3.mean(data, d => +d.size);

// Create an array with these values
const valuesToShow = [nExtent[0], nMean, nExtent[1]];
//const valuesToShow = [100,4000,15000]
const xCircle = 40
const xLabel = 90
svg
  .selectAll("legend")
  .data(valuesToShow)
  .join("circle")
    .attr("cx", xCircle)
    .attr("cy", d => height - 100)
    .attr("r", d => size(Math.sqrt(d)))
    .style("fill", "none")
    .attr("stroke", "black")

// Add legend: segments
svg
  .selectAll("legend")
  .data(valuesToShow)
  .join("line")
    .attr('x1', d => xCircle + size(Math.sqrt(d)))
    .attr('x2', xLabel)
    .attr('y1', (d, i) =>  height - 100 + size(Math.sqrt(d))) // separate segments by 30 pixels
    .attr('y2', (d, i) =>  height - 100 + size(Math.sqrt(d))) // separate segments by 30 pixels
    .attr('stroke', 'black')
    .style('stroke-dasharray', ('2,2'))

// Add legend: labels
svg
  .selectAll("legend")
  .data(valuesToShow)
  .join("text")
    .attr('x', xLabel)
    .attr('y', (d, i) =>  height - 100 + size(Math.sqrt(d))) // separate labels by 30 pixels
    .text(d => d.toFixed(1)) // round the legend value on 1 decimal
    .style("font-size", 10)
    .attr('alignment-baseline', 'middle')



</script>

